<h1 class="font-bold text-xl text-white">Cart Detail</h1>
<section>
  <section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
      <div class="w-full overflow-x-auto">
        <table
          class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700"
        >
          <tr
            class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
          >
            <th><p class="px-4 py-3">Item</p></th>
            <th><p class="px-4 py-3">Price</p></th>
            <th><p class="px-4 py-3">Quantity</p></th>
            <th><p class="px-4 py-3">Actions</p></th>
          </tr>
          {{#each products}}
            <tr>
              <td class="px-4 py-3 border">
                <p class="text-gray-300">{{this.title}}</p>
              </td>
              <td class="px-4 py-3 border">
                <p class="text-gray-300">${{this.price}}</p>
              </td>
              <td class="px-4 py-3 border">
                <p class="text-gray-300">{{this.quantity}}</p>
              </td>
              <td class="px-4 py-3 border">
                <button
                  class="rounded bg-red-500 p-1 text-white"
                  onclick="deleteProductFromCart('{{this.id}}')"
                >DELETE</button>
              </td>
            </tr>
          {{else}}
            <tr>
              <p class="text-white text-lg">No products</p>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </section>

  {{#with total}}
    <p class="text-white text-lg">TOTAL: $<span>{{this.total}}</span></p>
  {{/with}}
  {{#with cart}}
    <section class="flex gap-2">
      <div>
        <button
          class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          onclick="buyCart('{{this.id}}');"
          type="button"
        >
          BUY
        </button>
      </div>
      <div>
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          onclick="clearCart('{{this.id}}');"
          type="button"
        >
          CLEAR CART
        </button>
      </div>
    </section>
  {{/with}}
</section>
{{!-- prettier-ignore --}}
<script src="../../static/config.js"></script>
<script src="../../static/index.js"></script>
<script src="../../static/indexCarts.js"></script>