<div
  id="spinner"
  class="absolute bg-white bg-opacity-60 z-10 h-full w-full flex items-center justify-center hidden"
>
  <div class="flex items-center">
    <span class="text-3xl mr-4">Loading</span>
    <svg
      class="animate-spin h-8 w-8 text-gray-800"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      >
      </path>
    </svg>
  </div>
</div>
<h1 class="text-bold text-xl text-white neon-text">Cart Detail</h1>
<section>
  <ul class="flex flex-col gap-4">
    {{#each products}}
      <li
        class="w-full p-2 border-2 border-blue-100 border-opacity-100 py-4 flex gap-2"
      >
        <p class="text-white">Name: {{this.title}}</p>
        <p class="text-white">${{this.price}}</p>
        <p class="text-white">Quantity: {{this.quantity}}</p>
      </li>
    {{else}}
      <p class="text-white text-lg">No products</p>
    {{/each}}
  </ul>
  {{#with total}}
    <p class="text-white text-lg">TOTAL: $<span>{{this.total}}</span></p>
  {{/with}}
  {{#with cart}}
    <form action="/api/carts/{{this.id}}/purchase" method="post">
      <button
        onclick="setSpinner()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        BUY
      </button>
    </form>
  {{/with}}
</section>
<script>
  function setSpinner() {
  document.getElementById("spinner").classList.remove("hidden"); }
</script>