<h1 class="font-bold text-xl text-white mt-4">Product Detail</h1>
{{#with product}}
  <section class="bg-gray-800 shadow-lg rounded-lg pb-8 max-w-sm w-full">
    <a class="relative mx-3 mt-3 flex h-60 overflow-hidden rounded-xl" href="#">
      <img
        class="object-cover w-full"
        src={{thumbnail}}
        alt="product image for {{title}}"
      />
      <span
        class="absolute top-0 left-0 m-2 rounded-full bg-black px-2 text-center text-sm font-medium text-white"
      >
        Awesome
      </span>
    </a>
    <div class="px-8">
      <p class="text-white text-2xl my-4">{{title}}</p>
      <p class="text-white truncate">Description: {{description}} </p>
      <p class="text-teal-300 mb-4">Category: {{category}} </p>
      <p class="text-white mb-4">Stock: {{stock}} </p>
      <p class="text-3xl font-bold text-white mb-5"> ${{price}}</p>
      {{#if this.status}}
        <button
          onclick="addProductToCart('{{id}}');"
          class="flex justify-center w-full bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mr-2 h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
            />
          </svg>Add to Cart</button>
      {{else}}
        <span
          class="uppercase text-xs bg-red-50 p-0.5 border-red-500 border rounded text-red-700 font-medium select-none mb-2"
        >
          UNAVAILABLE
        </span>
      {{/if}}
    </div>
  </section>
{{/with}}
<script src="../../static/config.js"></script>
<script src="../../static/index.js"></script>