<h1 class="font-bold text-xl text-white mt-4">Products Admin</h1>
<button
  id="createButton"
  class="mb-10 bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
  onclick="resetFields()"
>
  ADD PRODUCT
</button>

<form id="productForm" class="hidden">
  <section class="grid grid-cols-2 gap-2">
    <div class="mb-4">
      <label
        class="block text-white text-sm font-bold mb-2"
        for="title"
      >Title</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="title"
        name="title"
        type="text"
        placeholder="title"
        required
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-white text-sm font-bold mb-2"
        for="description"
      >Description</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="description"
        name="description"
        type="text"
        placeholder="description"
        required
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-white text-sm font-bold mb-2"
        for="category"
      >category</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="category"
        name="category"
        type="text"
        placeholder="category"
        required
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-white text-sm font-bold mb-2"
        for="stock"
      >Stock</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="stock"
        name="stock"
        type="number"
        placeholder="stock"
        required
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-white text-sm font-bold mb-2"
        for="code"
      >Code</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="code"
        name="code"
        type="text"
        placeholder="code"
        required
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-white text-sm font-bold mb-2"
        for="price"
      >Price</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="price"
        name="price"
        type="number"
        placeholder="price"
        required
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-white text-sm font-bold mb-2"
        for="status"
      >Status</label>
      <select
        name="status"
        id="status"
        class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        <option value="true" selected>Active</option>
        <option value="false">Inactive</option>
      </select>
    </div>
    <section class="flex justify-between items-center">
      <div class="mb-4">
        <label
          class="block text-white text-sm font-bold mb-2"
          for="thumbnail"
        >Thumbnail</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="thumbnail"
          name="thumbnail"
          type="file"
          placeholder="thumbnail"
        />
      </div>
      <img
        class="w-32 object-cover rounded"
        id="productImage"
        src=""
        alt="selected product image"
      />
    </section>
    <button
      class="mb-10 bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit"
    >
      SAVE
    </button>
    <button
      id="cancelButton"
      type="button"
      class="mb-10 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      CANCELAR
    </button>
  </section>
</form>

<section class="container mx-auto p-6 font-mono">
  <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table
        class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700"
      >
        <tr
          class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
        >
          <th><p class="px-4 py-3">Title</p></th>
          <th><p class="px-4 py-3">Description</p></th>
          <th><p class="px-4 py-3">Owner</p></th>
          <th><p class="px-4 py-3">Actions</p></th>
        </tr>
        {{#each products}}
          <tr>
            <td class="px-4 py-3 border">
              <p class="text-gray-300">{{this.title}}</p>
            </td>
            <td class="px-4 py-3 border">
              <p class="text-gray-300">{{this.description}}</p>
            </td>
            <td class="px-4 py-3 border">
              <p class="text-gray-300">{{this.owner}}</p>
            </td>
            <td class="px-4 py-3 border">
              <button
                id="editButton"
                class="rounded bg-teal-500 p-1 text-white"
                onclick="setFormFieldsEdit('{{this.id}}');"
              >
                EDIT
              </button>
              <button
                class="rounded bg-red-500 p-1 text-white"
                onclick="deleteProduct('{{this.id}}')"
              >DELETE</button>
            </td>
          </tr>
        {{else}}
          <p>No Products</p>
        {{/each}}
      </table>
    </div>
  </div>
</section>
<script src="../../static/config.js"></script>
<script src="../../static/indexProducts.js"></script>