<section
  class="bg-emerald-800 w-full flex justify-between px-12 py-2 items-center mb-4"
>
  {{#with user}}
    <h2 class="font-bold text-md text-white">Welcome!
      {{firstName}}
      {{lastName}}</h2>
    <h3 class="font-bold text-md text-white">Role: {{role}}</h3>
    <div class="flex gap-4 items-center">
      <a
        class="font-semibold text-md text-white hover:underline"
        href="{{clientUrl}}/profile"
      >PROFILE
      </a>
      {{#if (isAdmin role)}}
        <a
          class="font-semibold text-md text-white hover:underline"
          href="{{clientUrl}}/users"
        >
          USERS
        </a>
        <a
          class="font-semibold text-md text-white hover:underline"
          href="{{clientUrl}}/products/admin"
        >
          PRODUCTS ADMIN
        </a>
      {{/if}}
      {{#if (isPremium role)}}
        <a
          class="font-semibold text-md text-white hover:underline"
          href="{{clientUrl}}/products/admin"
        >
          ADMIN-PRODUCTS
        </a>
      {{/if}}
      {{!-- <div class="relative">
        <a
          class="font-bold text-md text-white hover:underline"
          href="{{clientUrl}}/carts/{{cart}}"
        >CART</a>
        <span
          class="absolute top-0 right-0 text-red-500 rounded-full border-teal-400 text-teal-400 border-2 px-2"
        ></span>
      </div> --}}
      <a href="{{clientUrl}}/carts/{{cart}}" class="relative flex">
        <svg
          class="flex-1 w-8 h-8 fill-current text-white hover:text-teal-400"
          viewbox="0 0 24 24"
        >
          <path
            d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z"
          />
        </svg>
        <span
          class="absolute right-0 top-0 rounded-full bg-teal-600 w-4 h-4 top right p-0 m-0 text-white font-mono text-sm leading-tight text-center"
        >
          {{productQuantity}}
        </span>
      </a>
      <form
        action="/api/sessions/logout"
        method="POST"
        class="flex items-center justify-center m-0"
      >
        <button
          class="border-2 border-red-500 hover:bg-red-700 text-white font-bold px-2 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >Logout</button>
      </form>
    </div>
  {{/with}}
</section>

<h1 class="font-bold text-xl text-white">Products</h1>

{{! Filters }}
<section class="my-4">
  <form id="filterForm">
    <div class="flex gap-2 justify-center items-center">
      <div>
        <label
          class="block text-white text-sm font-bold mb-2"
          for="limit"
        >Limit</label>
        <select
          name="limit"
          id="limit"
          class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
          <option value="10" selected>10</option>
          <option value="5">5</option>
          <option value="2">2</option>
        </select>
      </div>
      <div>
        <label
          class="block text-white text-sm font-bold mb-2"
          for="category"
        >Category</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="category"
          name="category"
          type="text"
          placeholder="category"
          list="categories"
        />
        <datalist id="categories">
          <option value="shirts"></option>
          <option value="hoodies"></option>
          <option value="pants"></option>
        </datalist>
      </div>
      <div>
        <label class="block text-white text-sm font-bold mb-2" for="sort">Sort
          Price</label>
        <select
          name="sort"
          id="sort"
          class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
          <option value="asc" selected>Low to High</option>
          <option value="desc">High to Low</option>
        </select>
      </div>
      <div>
        <label
          class="block text-white text-sm font-bold mb-2"
          for="status"
        >Status</label>
        <select
          name="status"
          id="status"
          class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
          <option value="true" selected>Active</option>
          <option value="false">Inactive</option>
          <option value>All</option>
        </select>
      </div>
      <button
        class="border-2 border-teal-500 mt-6 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >Filter</button>
      <button
        id="clearFiltersButton"
        class="border-2 border-red-500 mt-6 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
      >Clear Filters</button>
    </div>
  </form>
</section>

{{! Products list }}
<ul class="grid sm:grid-cols-2 md:grid-cols-3 grid-cols-1 gap-4">
  {{#each docs}}
    <li class="bg-gray-800 shadow-lg rounded-lg pb-8 max-w-sm w-full">
      <img
        class="h-48 w-full object-cover object-center rounded-t-lg"
        src="{{this.thumbnail}}"
        alt="product image for {{this.title}}"
      />
      <div class="px-8">
        <h2 class="text-3xl text-center text-white mb-4">{{this.title}}</h2>
        <p class="text-gray-300 mb-4 truncate">{{this.description}}</p>
        <p class="text-teal-300 mb-4">Category: {{this.category}}</p>
        {{#if this.status}}
          <span
            class="uppercase text-xs bg-green-50 p-0.5 border-green-500 border rounded text-green-700 font-medium select-none"
          >
            AVAILABLE
          </span>
          <div class="mt-2 flex justify-center">
            <a href="{{clientUrl}}/products/{{this.id}}">
              <button
                class="border-2 border-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-4"
                type="button"
              >See More</button>
            </a>
            <button
              onclick="addProductToCart('{{this.id}}');"
              class="flex bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="mr-2 h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>Add to Cart</button>
          </div>
        {{else}}
          <span
            class="uppercase text-xs bg-red-50 p-0.5 border-red-500 border rounded text-red-700 font-medium select-none mb-2"
          >
            UNAVAILABLE
          </span>
        {{/if}}
      </div>
    </li>
  {{else}}
    <p>No products</p>
  {{/each}}
</ul>

{{! Pagination }}
<ul class="inline-flex -space-x-px mt-4">
  {{#if hasPrevPage}}
    <a
      class="cursor-pointer px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700"
      href="{{clientUrl}}/products?page={{prevPage}}&limit={{limit}}&category={{category}}&status={{status}}&sort={{sort}}"
    > Previous </a>
  {{/if}}
  <li
    class="cursor-pointer px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
    href
  >{{page}}</li>

  {{#if hasNextPage}}
    <a
      class="cursor-pointer px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700"
      href="{{clientUrl}}/products?page={{nextPage}}&limit={{limit}}&category={{category}}&status={{status}}&sort={{sort}}"
    >Next</a>
  {{/if}}
</ul>
<p class="text-md text-white mb-4">Total Pages: {{totalPages}}</p>

<script src="../../static/config.js"></script>
<script src="../../static/index.js"></script>